@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #fafafa;
}

.my-background {
  background-image: url('/images/mesh-gradient-1.svg');
}
